
/* .SmartCents---Dark-1-hex { color: #0D0D0D; }
.SmartCents---Dark-2-hex { color: #1A1A1A; }
.SmartCents---Dark-3-hex { color: #F2FFFA; }
.SmartCents---Dark-4-hex { color: #C8E5D9; }
.SmartCents---Dark-5-hex { color: #3AD29F; }
.SmartCents---Dark-6-hex { color: #2A2A2A; } */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-background : #F2FFFA;
    --secundary-background : #FFFFFF;
    --primary-font-color : #1A1A1A;
    --secundary-font-color :#3F4A45;
    --highlights : #3AD29F;
    --border : #DCEDE6;

    --title-font : "Lexend", sans-serif;
    --text-font : "Poppins", sans-serif;
}

/* Header */
#header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    font-family: var(--text-font);
    font-weight: 600;
    border-bottom: 1px solid #1a1a1a24;
}
#logo img{
    width: 30px;
    height: 30px;
}
#link-list{
    display: flex;
    gap: 20px;
    list-style: none;
    color: var(--primary-font-color);
}
#header-button-container button{
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--highlights);
    font-family: var(--text-font);
    font-weight: 500;
    color: var(--primary-font-color);
}

/* First Section */
#apresentation-container {
   display: flex;
   flex-direction: column;
}
#apresentation-content{
    display: flex;
    flex-direction: ;
}
#apresentation-text h1{
    font-family: var(--title-font);
    color: var(--primary-font-color);
}
#apresentation-text h1>span{
    color: var(--highlights);
}
#apresentation-text p{
    font-family: var(--text-font);
    color: var(--primary-font-color);
    font-weight: 500;
}
#apresentation-content img{
    width: 500px;
}